<div class="container">
    <div class="row row--grid">
        <!-- breadcrumb -->
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb__item"><a [routerLink]="['/']">Home</a></li>
                <li class="breadcrumb__item breadcrumb__item--active">Explore</li>
            </ul>
        </div>
        <!-- end breadcrumb -->

        <!-- title -->
        <div class="col-12">
            <div class="main__title main__title--page">
                <h1>Explore exclusive digital assets</h1>
            </div>
        </div>
        <!-- end title -->
    </div>

    <div class="row">
        <!-- sidebar -->
        <div class="col-12 col-xl-3 order-xl-2">
            <div class="filter-wrap">
                <button class="filter-wrap__btn" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">Open filter</button>

                <div class="collapse filter-wrap__content" id="collapseFilter">
                    <!-- filter -->
                    <div class="filter">
                        <h4 class="filter__title">Filters 
                            <!-- <button type="button">Clear all</button> -->
                        </h4>
                        <form [formGroup]="filterForm">
                            <div class="filter__group">
                                <label class="filter__label">Category:</label>
                                <ul class="filter__checkboxes">
                                    <li *ngFor="let item of collectionList | keyvalue">
                                        <input  type="checkbox" id="{{ item.key }}" (change)="onChangeCategory($event, item.key)">
                                        <label for="{{ item.key }}">{{ item.value }}</label>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter__group">
                                <button (click)="applyFilter()" class="filter__btn" type="button">APPLY FILTER</button>
                            </div>
                        </form>
                    </div>
                    <!-- end filter -->
                </div>
            </div>
        </div>
        <!-- end sidebar -->

        <!-- content -->
        <div class="col-12 col-xl-9 order-xl-1">
            <div class="row row--grid">
                <div *ngFor="let item of filteredNfts | paginate: { itemsPerPage: 9, currentPage: p }" class="col-12 col-sm-6 col-lg-4">
                    <!-- card -->
                    <div class="card">
                        <a [routerLink]="['/marketplace/detail', item.id]" class="card__cover">
                            
                            <img *ngIf="uriResponse[item.id] &&  (uriResponse[item.id]['fileType'] === 'IMAGE' || uriResponse[item.id]['fileType'] === 'image')" src="{{ uriResponse[item.id] &&  uriResponse[item.id]['image'] && (uriResponse[item.id]['fileType'] === 'IMAGE' || uriResponse[item.id]['fileType'] === 'image') ? uriResponse[item.id]['image'] : (item.image && item.fileType === 'IMAGE' ? item.image : 'https://via.placeholder.com/512x512.png?text=MEME+EXIHIBIT') }}" class="fix-height" alt="">

                            <video *ngIf="uriResponse[item.id] &&  uriResponse[item.id]['fileType'] !== 'IMAGE' && uriResponse[item.id]['fileType'] !== 'image'" style="width: 100%;" class="fix-height"  [src]="uriResponse[item.id]['image'] | safeUrl" controls autoplay="true" [muted]="true"></video>

                            <app-countdown *ngIf="item.type === 'BID' && currentDate < convertDate(item.expiry_date)" [expiry]="item.expiry_date" [type]="'small'"></app-countdown>
                        </a>
                        <div class="card-main">
                            <h3 class="card__title"><a [routerLink]="['/marketplace/detail', item.id]">{{ item.name && item.name !== '' ? item.name : (uriResponse[item.id] ? uriResponse[item.id].name : '') }}</a></h3>
                            <h3 class="card__title"><a [routerLink]="['/marketplace/detail', item.id]">NFT Token Id: {{ item.tokenId }}</a></h3>
                            <div class="card__author">
                                <img src="/assets/img/avatars/avatar.jpg" alt="">
                                <a  [routerLink]="">{{ item.currentOwner.name }}</a>
                            </div>
                            <div class="card__info">
                                <div class="card__price">
                                    <span>{{ item.type === 'SELL' ? 'Reserve price' : (item.type === 'BID' ? 'MIN BID PRICE' : 'NOT AVAILABLE PRICE') }}</span>
                                    <span *ngIf="item.type !== 'DEFAULT'">{{ item.amount.toFixed(2)  }} BUSD</span>
                                </div>
                                
                                <button class="card__likes" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.16,5A6.29,6.29,0,0,0,12,4.36a6.27,6.27,0,0,0-8.16,9.48l6.21,6.22a2.78,2.78,0,0,0,3.9,0l6.21-6.22A6.27,6.27,0,0,0,20.16,5Zm-1.41,7.46-6.21,6.21a.76.76,0,0,1-1.08,0L5.25,12.43a4.29,4.29,0,0,1,0-6,4.27,4.27,0,0,1,6,0,1,1,0,0,0,1.42,0,4.27,4.27,0,0,1,6,0A4.29,4.29,0,0,1,18.75,12.43Z"/></svg>
                                    <span>{{ item.favCount }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>

            <!-- paginator -->
            <div class="row row--grid">
                <div class="col-12">
                    <div class="paginator">
                        <span class="paginator__pages">1 to 10 from {{ filteredNfts.length }}</span>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
            <!-- end paginator -->
        </div>
        <!-- end content -->
    </div>	
</div>