<!-- home -->
<div class="home">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="home__content">
               <h1 class="home__title">The Next BIG NFT Trading platform</h1>
               <p class="home__text">Digital marketplace for crypto collectibles and non-fungible tokens. <br>Buy, sell, and Trade your NFT's and NFT Money secured with Blockchain.</p>
               <div class="home__btns">
                  <a [routerLink]="['/marketplace']" class="home__btn home__btn--clr">Explore</a>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="home__content" style="padding: 0px;">
               <img style="width: 100%;    object-fit: contain;" src="assets/img/banner image.png" />
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end home -->

<div class="container">
   <app-live-auction></app-live-auction>
</div>
<!-- end home -->